.aboutUs{
    margin: 3rem;
}

.history{
    margin: 2.5rem;
}
.history h4{
    font-size: 30px;
}

.mission{
    margin: 2.5rem;
}
.mission h4{
    font-size: 30px;
}

.vision{
    margin: 2.5rem;
}
.vision h4{
    font-size: 30px;
}
