.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: #272424;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
  .footer-contact, .footer-customerSupport {
    flex: 1;
    max-width: 400px;
/*  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.897); */    
    color: white;
    padding: 20px;
    border-radius: 20px;
  }
  
  .footer-contact h5, .footer-customerSupport h5 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .footer-contact li, .footer-contact p, .footer-customerSupport p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  

  
  
  